@charset "utf-8";

body, p, h4 {
    margin: 0;
}

.outer, .outer_display, .outer_font {
    margin: 8px;
}

.outer_display {
    background-color: #ccc;
}

.outer_font {
    font-size: 16px;
}

#parent_position_relative_01 {
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #69f;
}

#child_position_absolute_01 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 100px;
    background-color: #f99;
}

#parent_position_relative_01 > p, #child_position_absolute_01 > p {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.block_level, .inline_level, .inline_block, .display_none, .visibility_hidden {
    padding: 8px;
}

.parent_em {
    font-size: 1em;
}

.child_em {
    color: #f64;
    font-size: 0.5em;
}

.parent_rem {
    font-size: 1rem;
}

.child_rem {
    color: #f64;
    font-size: 0.5rem;
}